.button {
  border: none;
  border-radius: 4px;
  background-color: white;
  font-weight: bold;
  width: 8rem;
  height: 2rem;
}

.header__button {
  grid-column: 10;
  color: white;
  background: rgb(48, 50, 63);
}

.search-bar__button {
  margin-left: 0.5rem;
  color: white;
  background: rgb(102, 163, 0);
}

.load-more__button {
  width: 100%;
  height: 2.5rem;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 80px;
}

.course-card__button {
  background: rgb(0, 158, 205);
  color: white;
}

.courses__button {
  background: rgb(0, 158, 205);
  color: white;
}

.login__button {
  background: lightgray;
  color: grey;
  margin-top: 1rem;
  width: 6rem;
  height: 3rem;
  align-self: center;
}

.create-course__cancel-button {
  background: lightgray;
  color: grey;
  width: 5.5rem;
  height: 2.5rem;
}

.create-course__save-button {
  background: rgb(102, 163, 0);
  color: white;
  width: 5.5rem;
  height: 2.5rem;
  margin-left: 0.7rem;
}

button:disabled {
  background-color: coral;
  color: white;
}
