.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background: rgb(48, 50, 63);
  position: sticky;
  top: 0;
}

.header_wrapper {
  width: 95vw;
  height: 100%;
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: flex-start;
}

.header__user-name {
  font-weight: bold;
  font-size: 0.9rem;
  width: fit-content;
  grid-column: 3;
  margin: 0 10%;
  color: white;
  display: flex;
  padding: 5%;
}

.header_wrapper > :first-child {
  justify-self: flex-start;
  grid-column: 1;
}
.header_wrapper :nth-child(4) {
  grid-column: 4;
  justify-self: flex-end;
}

mat-form-field {
  width: 8.5rem;
  /* height: 2rem; */
  margin: 0;
  margin-bottom: -1.25em;
}

mat-label {
  color: white;
  font-size: 0.8rem;
}
mat-select {
  font-size: 0.8rem;
}
mat-option {
  font-size: 0.8rem;
}
