<header class="header">
  <div class="header_wrapper">
    <app-logo></app-logo>
    <div
      class="header__user-name"
      *appIfAuthenticated="!!(isLoadingValue$ | async)"
    >
      <fa-icon [icon]="faUser"></fa-icon> &nbsp;
      <div>&nbsp;{{ userName$ | async }}</div>
    </div>
    <app-button
      [buttonClass]="'header__button'"
      [buttonText]="'Logout'"
      [toShow]="true"
      [iconType]="faRightFromBracket"
      (buttonClick)="logoutHandle()"
      *appIfAuthenticated="!!(isLoadingValue$ | async)"
    >
    </app-button>
  </div>
</header>
