<header class="header">
  <div class="header_wrapper">
    <app-logo></app-logo>
    <div class="header__user-name" *appIfAuthenticated="isUserAndBtnVisible()">
      <fa-icon [icon]="faUser"></fa-icon> &nbsp;
      <div>&nbsp;{{ userDetails ? userDetails : "Unknown" }}</div>
    </div>
    <app-button
      [buttonClass]="'header__button'"
      [buttonText]="'Logout'"
      [toShow]="true"
      [iconType]="faRightFromBracket"
      (buttonClick)="logoutHandle()"
      *appIfAuthenticated="isUserAndBtnVisible()"
    >
    </app-button>
  </div>
</header>
