.breadcrumbs {
  height: 40px;
  background: white;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 2.5vw;
}

.breadcrumbs__link--disabled {
  pointer-events: none;
}
