.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.label__text {
  display: flex;
  justify-content: flex-start;
}

.label__required-text {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 0.9rem;
}

.input-field {
  height: 1.7rem;
  width: 18rem;
}

.date__label--short {
  width: 11.25rem;
}

.date__input--time-short {
  width: 11.2rem;
}
