<div class="course-controls">
  <app-search-bar
    (searchValueChange)="setSearchTerm($event)"
    (searchBarClick)="filterArray()"
  ></app-search-bar>
  <app-button
    [buttonTypes]="'courses__button'"
    [buttonText]="'Add course'"
    [toShow]="true"
    [iconType]="faPlus"
  ></app-button>
</div>
<app-course-card
  *ngFor="
    let course of filteredCourseList | listSortByCreationDate;
    trackBy: trackByCourseId
  "
  [courseItem]="course"
  (cardDeleteClick)="showDeleteId($event)"
></app-course-card>
<app-button
  *ngIf="courseList.length > 0"
  [buttonTypes]="'load-more__button'"
  [buttonText]="'Load more'"
  (buttonClick)="handleClickLoadMore()"
>
</app-button>
<div *ngIf="courseList.length === 0" class="course-nocourses">
  No data, feel free to add new course
</div>
