<div class="courses">
  <div class="course-controls">
    <app-search-bar
      (valueChangeKeyUp)="onValueChangeKeyUp($event)"
    ></app-search-bar>
    <app-button
      [buttonClass]="'courses__button'"
      [buttonText]="'COURSES.ADD_COURSE' | translate"
      [toShow]="true"
      [iconType]="faPlus"
      (buttonClick)="addNewCourse()"
    ></app-button>
  </div>
  <app-course-card
    *ngFor="
      let course of (selectedCourses$ | async) ?? [];
      trackBy: trackByCourseId
    "
    [courseItem]="course"
    (cardDeleteClick)="deleteCourse($event)"
  ></app-course-card>
  <app-button
    *ngIf="(selectedCourses$ | async)?.length !== 0"
    [buttonClass]="'load-more__button'"
    [buttonText]="'COURSES.LOAD_MORE' | translate"
    (buttonClick)="handleClickLoadMore()"
  >
  </app-button>
  <div
    *ngIf="(selectedCourses$ | async)?.length === 0"
    class="course-nocourses"
  >
    {{ "COURSES.COURSE_LIST_IS_EMPTY" | translate }}
  </div>
</div>
