<div class="courses">
  <div class="course-controls">
    <app-search-bar></app-search-bar>
    <app-button
      [buttonClass]="'courses__button'"
      [buttonText]="'Add course'"
      [toShow]="true"
      [iconType]="faPlus"
      (buttonClick)="addNewCourse()"
    ></app-button>
  </div>
  <app-course-card
    *ngFor="
      let course of (getCourses() | async) ?? [];
      trackBy: trackByCourseId
    "
    [courseItem]="course"
    (cardDeleteClick)="deleteCourse($event)"
  ></app-course-card>
  <app-button
    *ngIf="(getCourses() | async)?.length !== 0"
    [buttonClass]="'load-more__button'"
    [buttonText]="'Load more'"
    (buttonClick)="handleClickLoadMore()"
  >
  </app-button>
  <div *ngIf="(getCourses() | async)?.length === 0" class="course-nocourses">
    No data, feel free to add new course
  </div>
</div>
