.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.label__text {
  display: flex;
  justify-content: flex-start;
}

.label__required-text {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 0.9rem;
}

.input-field {
  height: 1.7rem;
  width: 18rem;
  color: grey;
}

.login__input {
  width: 22rem;
  margin-top: 0.5rem;
}

.duration__label--short {
  width: 11.25rem;
}

.duration__input--short {
  width: 11rem;
}
.duration__input-wrapper--row {
  display: flex;
}

.duration__formated-time {
  height: 1.95rem;
  width: 8rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.invalid-input {
  border: 2px solid red;
}

.valid-input {
  border: 2px solid green;
}

input:focus {
  outline: none;
}

.duration__error-text {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: red;
}
