.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26rem;
  height: 22rem;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1.5rem;
  box-sizing: border-box;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login__title--wrapper {
  height: 20%;
  width: 22.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.login__title {
  font-size: 1.4rem;
  font-weight: bold;
  align-self: flex-start;
}

.login__error {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
  justify-self: flex-end;
}

.login__link {
  margin-top: 1.3rem;
  font-size: 0.9rem;
  justify-self: start;
}

.login_button-container {
  margin-top: 0.5rem;
  width: 22.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login__label {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}

.label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.label__text {
  display: flex;
  justify-content: flex-start;
}

.label__required-text {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 0.9rem;
}

.input-field {
  height: 1.7rem;
  width: 18rem;
}

.login__input {
  width: 22rem;
  margin-top: 0.5rem;
}

.invalid-input {
  border: 2px solid red;
}

.valid-input {
  border: 2px solid green;
}

input:focus {
  outline: none;
}