<article class='course-card'>
    <div>
        <h2 class='course-card__name'>{{courseItem.title}}</h2>
        <p class='course-card__description'>{{courseItem.description}}</p>
    </div>
    <div class="course-card__right">
        <div> 
        <fa-icon class="course-card__time" [icon]="faClock"></fa-icon>
        {{formatedTime}}
        </div>
        <div>
        <fa-icon class="course-card__time" [icon]="faCalendar"></fa-icon>
        {{formatedDate}}
        </div>
        <app-button [buttonText]="'Edit'" [toShow]="true" [iconType]="faPen"></app-button>
        <app-button [buttonText]="'Delete'" [toShow]="true" [iconType]="faTrash"></app-button>
    </div>
</article>
