.container {
  min-width: 1065px;
  margin: 0 auto;
  width: 100%;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(228, 231, 245);
}

.main__wrapper {
  width: 95vw;
  min-height: 600px;
  display: flex;
  justify-content: center;
}
