<form class="create-course">
  <h1 class="create-course__title">New Course</h1>
  <div class="create-course__input-wrapper-column">
    <label class="create-course__label" for="createTitle">
      <div class="create-course__label-text">Title:</div>
      <div class="create-course__required-text">*required</div>
    </label>
    <input
      class="create-course_input-alternative"
      type="text"
      [(ngModel)]="course.name"
      id="createTitle"
      name="createTitle"
      placeholder=" Text input"
    />
  </div>
  <div class="create-course__input-wrapper-column">
    <label class="create-course__label" for="createDescription">
      <div class="create-course__label-text">Description:</div>
      <div class="create-course__required-text">*required</div>
    </label>
    <textarea
      class="create-course__description"
      name="createDescription"
       [(ngModel)]="course.description"
      placeholder=" Add description"
      required="true"
      form="create-course"
    ></textarea>
  </div>
  <div class="create-course__input-wrapper--row">
    <app-duration
      [labelText]="'Duration:'"
      [labelClass]="'duration__label--short'"
      [inputClass]="'duration__input--short'"
      [requiredText]="'*required'"
      [placeholderText]="' Minutes'"
      [inputType]="'text'"
      [value]="course.length"
      (valueChange)="durationInputHandler($event)"
    ></app-duration>
  </div>
  <div class="create-course__input-wrapper-column">
    <app-date
      [labelText]="'Date:'"
      [labelClass]="'date__label--short'"
      [inputClass]="'date__input--time-short'"
      [requiredText]="'*required'"
      [placeholderText]="
        '
      MM/DD/YYYY'
      "
      [inputType]="'date'"
      [value]="course.date"
      (valueChange)="dateInputHandler($event)"
    ></app-date>
  </div>
  <div class="create-course__input-wrapper--row">
    <app-authors
      [labelText]="'Authors:'"
      [labelClass]="'authors__label--medium'"
      [inputClass]="'authors__input--medium'"
      [requiredText]="'*required'"
      [placeholderText]="' Start typing'"
      [inputType]="'text'"
      (valueChange)="authorsInputHandler($event)"
    ></app-authors>
  </div>
  <div class="create-course__buttons">
    <app-button
      [buttonClass]="'create-course__cancel-button'"
      [buttonText]="'Cancel'"
      (buttonClick)="cancel()"
    ></app-button>
    <app-button
      [buttonClass]="'create-course__save-button'"
      [buttonText]="'Save'"
      (buttonClick)="save()"
    ></app-button>
  </div>
</form>
