<div class="input-wrapper">
  <label class="label" [class]="labelClass" [for]="idInput">
    <div class="label__text">{{ labelText }}</div>
    <div class="label__required-text">{{ requiredText }}</div>
  </label>
  <input
    class="input-field"
    [class]="inputClass"
    [class.disabled]="(isLoadingValue$ | async) === false "
    [type]="inputType"
    [(ngModel)]="value"
    [id]="idInput"
    [name]="idInput"
    [placeholder]="placeholderText"
    (input)="onValueChange()"
    (keyup)="onValueChangeKeyUp()"
  />
</div>
