<div class="input-wrapper">
  <div class="label-wrapper" [class]="labelClass">
    <div class="label__text">{{ labelText }}</div>
    <div class="label__required-text">{{ requiredText }}</div>
  </div>
  <div class="content-wrapper">
    <div class="authors-field">
      <div class="authors-block" *ngFor="let author of savedAuthorsList">
        <div class="authors-block__name">
          {{ author.name + author.lastName }}
        </div>
        <button class="authors-block__button" (click)="deleteAuthor(author.id)">
          <fa-icon class="authors-block__icon" [icon]="faXmark"></fa-icon>
        </button>
      </div>
    </div>
    <input
      class="authors-input-field"
      [class]="inputClass"
      [type]="inputType"
      [id]="idInput"
      [name]="idInput"
      [placeholder]="placeholderText"
      [value]="value"
      list="authorsList"
      (change)="onChangeInput($event)"
    />
    <datalist id="authorsList">
      <option *ngFor="let author of authorsData | async" [value]="author.name">
        {{ author.name }}
      </option>
    </datalist>
  </div>
</div>
