.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 38rem;
}

.label-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.label__text {
  display: flex;
  justify-content: flex-start;
}

.label__required-text {
  display: flex;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 0.9rem;
}

.content-wrapper {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
}
.authors-field {
  height: 1.85rem;
  width: max-content;
  display: flex;
  align-items: center;
}
.authors-block {
  height: 1.75rem;
  margin-right: 0.1rem;
  padding: 0 1%;
  width: max-content;
}

.authors-input-field {
  display: block;
  height: 1.7rem;
  width: 99%;
}
